<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sub2.monitor.mapper.AccountBalanceHistoryMapper">

    <insert id="insertBatch">
        insert into account_balance_history
            (account_id, platform_id, platform, current_balance, create_time)
        values
        <foreach collection="historyList" item="history" separator=",">
            (#{history.accountId}, #{history.platformId}, #{history.platform}, #{history.currentBalance}, #{history.createTime})
        </foreach>
    </insert>
</mapper>
